/* Arquivo: static/css/profile.css */

.profile-container {
    text-align: center;
    margin-top: 20px;
}

.profile-picture-container {
    margin: 20px auto;
    width: 150px; /* Ou o tamanho que deseja para a foto do perfil */
    height: 150px;
    border-radius: 50%; /* Cria um círculo em torno da foto do perfil */
    overflow: hidden; /* Garante que a imagem não saia fora do círculo */
    display: inline-block;
}

.profile-picture {
    width: 100%;
    height: auto;
    display: block; /* Remove qualquer espaço extra em torno da imagem */
}
