/* Arquivo: static/css/profile.css */

.profile-container {
    text-align: center;
    margin-top: 20px;
}

.profile-picture-container {
    margin: 20px auto;
    width: 150px; /* Ou o tamanho que deseja para a foto do perfil */
    height: 150px;
    border-radius: 50%; /* Cria um círculo em torno da foto do perfil */
    overflow: hidden; /* Garante que a imagem não saia fora do círculo */
    display: inline-block;
}

.profile-picture {
    width: 100%;
    height: auto;
    display: block; /* Remove qualquer espaço extra em torno da imagem */
}

.badges-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens passem para a próxima linha se necessário */
    justify-content: center; /* Centraliza os emblemas horizontalmente */
    gap: 10px; /* Espaçamento entre os emblemas */
}

.badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto; /* Não permite que os emblemas cresçam ou encolham */
    margin: 5px; /* Margem ao redor de cada emblema */
}


.badge-image.not-achieved {
    filter: grayscale(100%);
}


/* Aumenta a opacidade para emblemas conquistados para destacá-los mais */
.badge-image.achieved {
    filter: none; /* Remove o filtro de escala de cinza */
    opacity: 1; /* Restaura a opacidade total */
}


