body {
    background-color: #E2E2E2;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 130px; /* Ajuste este valor com base na altura do seu cabeçalho */
}


header {
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 120px; /* Ajuste a altura do cabeçalho conforme necessário */
}

.header-container {
    background-color: #E2E2E2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Ajuste o padding se necessário */
}

.header-left img {
    width: 150px; /* Aumente o tamanho da imagem conforme desejado */
    height: auto; /* Mantém a proporção da imagem */
}

.header-middle h1 {
    margin: 0;
    font-size: 30px; /* Ajuste o tamanho da fonte conforme necessário */
}

.header-right a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 12px 24px;
    background-color: #c7c7c7;
    border-radius: 6px;
    font-size: 18px;
    display: inline-block;
    transition: background-color 0.3s;
}

.document-image {
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    overflow: hidden;
}

#zoomableImage {

    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.header-right a:hover {
    background-color: #8d8d8d;
}

/* Conteúdo principal e elementos de autenticação */
.content-container {
    padding: 1em;
}



.options-buttons a, input[type="submit"] {
    display: inline-block;
    color: white;
    padding: 10px 15px;  /* Ajuste para parecer mais quadrado */
    text-decoration: none;
    border-radius: 3px;  /* Mais quadrado */
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 160px;  /* Largura fixa para uniformidade */
}
.options-buttons a:hover, input[type="submit"]:hover {
    background-color: #0056b3;
}
form p {
    margin-bottom: 10px;
}
input[type="text"], textarea {
    width: 30%; 
    height: 100px; /* Ajuste de largura para preencher o contêiner */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;  /* Mais quadrado */
}


.tag {
    display: inline-block;
    background-color: #8B0000;
    color: #fff;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.tag:hover {
    background-color: #0056b3;
}

.authentication-container {
    display: flex;
    justify-content: flex-start; /* Alinha à esquerda */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 1em;
}

.greeting-text {
    margin-right: 10px; /* Espaço entre o texto de saudação e o botão de logout */
}

.auth-button {
    text-decoration: none;
    color: white;
    background-color: #8B0000; /* Cor de fundo dos botões de autenticação */
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 10px; /* Espaço à esquerda do botão de login/logout */
}

/* Estilo da barra de opções */
.options-container {
    text-align: center; /* Centraliza os botões de opção */
}

.options-instruction {
    color: #333; /* Cor do texto */
    margin-bottom: 15px; /* Espaçamento abaixo do texto de instrução */
}

.options-buttons a {
    display: inline-block; /* Exibe os botões em linha */
    margin: 10 10px; /* Espaçamento horizontal entre os botões */
    padding: 10px 30px; /* Padding dentro dos botões */
    background-color: #761736; /* Cor de fundo dos botões */
    color: white; /* Cor do texto dos botões */
    border-radius: 20px; /* Arredondamento das bordas dos botões */
    font-weight: bold; /* Peso da fonte dos botões */
    text-decoration: none; /* Remove sublinhado dos links */
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.options-buttons a:hover {
    background-color: #761736; /* Cor de fundo quando o mouse passa por cima */
}

/* Estilo dos botões de navegação do documento */
.doc-button {
    display: inline-block; /* Exibe os botões em linha */
    margin: 0 10px; /* Espaçamento horizontal entre os botões */
    padding: 10px 20px; /* Padding dentro dos botões */
    background-color: #761736; /* Cor de fundo dos botões */
    color: white; /* Cor do texto dos botões */
    border-radius: 20px; /* Arredondamento das bordas dos botões */
    font-weight: bold; /* Peso da fonte dos botões */
    text-decoration: none; /* Remove sublinhado dos links */
    transition: background-color 0.3s; /* Transição suave para o hover */
}


.doc-button:hover {
    background-color: #761736; /* Cor de fundo quando o mouse passa por cima */
}


/* Ajustes no contêiner de conteúdo principal */
.content-container {
    padding: 20px; /* Espaçamento interno do contêiner */
    text-align: center; /* Centraliza o conteúdo do contêiner */
}

/* Estilos para a opção de botões */
/* (Mantenha os estilos da sua classe .options-buttons a aqui) */
/* Conteúdo principal e elementos de autenticação */
.content-container {
    text-align: center; /* Centraliza o conteúdo */
}

.document-image {
    margin-bottom: 20px; /* Espaço abaixo da imagem do documento */
}

.navigation-buttons {
    margin-bottom: 20px; /* Espaço abaixo dos botões de navegação */
}

.navigation-buttons > * {
    display: inline;
}

.option-button {
    display: inline-block; /* Exibe os botões em linha */
    margin: 0 10px; /* Espaçamento horizontal entre os botões */
    padding: 10px 30px; /* Padding dentro dos botões */
    background-color: #761736; /* Cor de fundo dos botões */
    color: white; /* Cor do texto dos botões */
    border-radius: 20px; /* Arredondamento das bordas dos botões */
    font-weight: bold; /* Peso da fonte dos botões */
    text-decoration: none; /* Remove sublinhado dos links */
    transition: background-color 0.3s; /* Transição suave para o hover */
}

.option-button:hover {
    background-color: #761736; /* Cor de fundo quando o mouse passa por cima */
}

.options-container {
    margin-top: 20px; /* Espaçamento acima da barra de opções */
}
